.home-container {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  background-color: #00285f;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 30px 20px;
}

.home-content-container h1 {
  width: 260px;
  color: #fff;
  font-size: 1em;
  margin-bottom: 15px;
}

.home-content-container p {
  width: 260px;
  color: #fff;
  font-size: 0.6em;
  padding: 0 15px;
}

.home-image-container {
  padding: 50px 28px 10px 28px;
}

.home-image-container svg {
  /*Imagem vai se adequar ao container que ela estiver */
  width: 100%;
  height: auto;
}

.home-container-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 21px;
  height: 120px;
}

.home-content-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content-button button {
  width: 174px;
}

.home-content-button p {
  margin: 10px 0 0 0;
  color: #585858;
  font-size: 18px;
}

/*Para a responsividade comportamento diferenciado a partir de um breakpoint*/
@media (min-width: 576px) {
  .home-container {
    font-size: 36px;
    padding: 20px;
  }

  .home-content-container h1 {
    width: 420px;
  }

  .home-content-container p {
    width: 420px;
    font-size: 0.5em;
  }

  .home-image-container svg {
    width: 333px;
  }

  .home-content-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .home-content-button p {
    margin: 0;
    padding: 16px;
  }
}

/*Para a responsividade comportamento diferenciado a partir de um breakpoint*/
@media (min-width: 768px) {
  .home-content-button {
    justify-content: left;
    padding: 85px;
  }
}

/*Para a responsividade comportamento diferenciado a partir de um breakpoint*/
@media (min-width: 992px) {
  .home-image-container svg {
    width: 455px;
  }
}

/*Para a responsividade comportamento diferenciado a partir de um breakpoint*/
@media (min-width: 1200px) {
  .home-container {
    padding: 30px 150px;
  }

  .home-card {
    flex-direction: row;
    justify-content: space-around;
    padding: calc(((85vh - 480px) / 2) - 150px) 0;
  }

  .home-content-container {
    height: 365px;
    justify-content: center;
    text-align: left;
    padding: 0 60px 0 85px;
  }

  .home-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-right: 80px;
  }

  .home-image-container svg {
    width: 333px;
  }

  .home-content-container p {
    padding: 0;
  }
}
